body{
    font-family: Arial,sans-serif;
    text-align : center;
}

form {
    display: inline-block;
    text-align: left;
    margin: 20px;
}

label {
     display: block;
     margin-bottom: 5px;
}

input,button {
    padding: 5px;
    margin-bottom: 10px;

}

#result {
    margin-top: 20px;
}